/* main div  */

#about-me {
  background-color: #B0C4DE;
  width: 750px;
  margin: 0 auto;
  border-radius: 10px;
}

/* text */

#about-me p {
  padding: 15px 15px;
}

#about-me ul {
  padding: 15px 15px;
}
