/* main div  */

#projects {
  background-color: #B0C4DE;
  width: 750px;
  margin: 0 auto;
}

/* text */

#projects p {
  padding: 15px 15px;
  text-align: center;
}


#projects .video {
  max-width: 500px;
}

#projects h3 {
  padding: 15px 15px;
  text-align: center;
}
